.contacts {
  position: relative;
  margin-bottom: 40px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: contain;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    display: block;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: center;
  padding-top: 42px;
}

.contacts__info {
  margin-bottom: 37px;
}

.contacts__title {
  margin: 0 0 25px;

  @include font-setting(18px, 30px, bold);
}

.contacts__title-icon {
  display: none;
}

.contacts__adress-wrapper,
.contacts__email-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: auto;
}

.contacts__email-wrapper {
  margin-bottom: 29px;
}

.contacts__adress,
.contacts__adress-description,
.contacts__email,
.contacts__link {
  @include font-setting(15px, 30px, normal, $gray-dark);
}

.contacts__link {
  border-bottom: 1px solid $tiffany-light;

  &:focus,
  &:hover {
    outline: none;
    color: $tiffany-light;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__adress,
.contacts__adress-description,
.contacts__email {
  margin: 0;
}

.contacts__adress,
.contacts__email {
  margin-right: 30px;
}

.contacts__adress-description {
  width: 182px;
}

.contacts__map {
  display: flex;
  width: auto;
  margin-bottom: 39px;
}

.contacts__interactive-map {
  display: flex;
  width: 100%;
  min-height: 457px;
  border: none;
}

.contacts__map--nojs .contacts__interactive-map {
  display: none;
}

.contacts__image-map {
  display: none;
  position: relative;
  width: 100%;

  &::after {
    content: url("../img/icon-map-pin.svg");
    position: absolute;
    top: calc(45% - 62px);
    left: calc(54% - 34px);
  }
}

.contacts__map--nojs .contacts__link-map {
  display: block;
}

.contacts__link-map {
  display: none;
  width: 100%;
}

.contacts__img-map {
  display: flex;
  width: 100%;
  height: auto;
}

.contacts__button {
  display: block;
  margin: 0 auto;
  padding: 14px 0;
  width: 260px;
  text-align: center;

  @include font-setting(18px, 20px, bold, $gray-dark);
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 57px;

    &::before {
      height: 15px;
    }
  }

  .contacts__wrapper {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 76px;
  }

  .contacts__info {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 56px;
    padding: 0;
  }

  .contacts__title {
    position: relative;
    width: 100%;
    margin: 0 0 49px;

    @include font-setting(43px, 50px, bold);
  }

  .contacts__title-icon {
    display: block;
    position: absolute;
    top: -15px;
    right: 3px;
  }

  .contacts__adress-wrapper,
  .contacts__email-wrapper {
    justify-content: flex-start;
    width: 50%;
  }

  .contacts__email-wrapper {
    margin-bottom: 0;
  }

  .contacts__adress,
  .contacts__adress-description,
  .contacts__email,
  .contacts__link {
    @include font-setting(17px, 30px, normal, $gray-dark);
  }

  .contacts__adress,
  .contacts__adress-description,
  .contacts__email {
    margin: 0;
  }

  .contacts__adress,
  .contacts__email {
    margin-right: 24px;
  }

  .contacts__adress-description {
    width: 250px;
  }

  .contacts__map {
    display: flex;
    width: 100%;
    margin-bottom: 55px;
  }

  .contacts__image-map {
    &::after {
      top: calc(44% - 62px);
      left: calc(52% - 34px);
    }
  }

  .contacts__button {
    margin: 0 auto;
    width: 230px;

    @include font-setting(17px, 20px, bold, $gray-dark);
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-bottom: 105px;

    &::before {
      display: none;
    }
  }

  .contacts__map-wrapper {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: $desktop-width;
    padding: 91px 50px 0;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/bg-zigzag-line.svg");
      background-size: contain;
      top: 0;
      left: 50px;
      width: 1050px;
      height: 21px;
      display: block;
    }
  }

  .contacts__wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    padding: 0;
    width: 50%;
  }

  .contacts__info {
    width: 100%;
    margin-bottom: -100%;
    padding-top: 71px;
    padding-left: 175px;
  }

  .contacts__title {
    margin: 0 0 49px -4px;

    @include font-setting(53px, 57px, bold);
  }

  .contacts__title-icon {
    top: -8px;
    left: -108px;
  }

  .contacts__adress-wrapper,
  .contacts__email-wrapper {
    width: 100%;
  }

  .contacts__email-wrapper {
    margin-bottom: 29px;
  }

  .contacts__adress,
  .contacts__adress-description,
  .contacts__email,
  .contacts__link {
    @include font-setting(17px, 30px, normal, $gray-dark);
  }

  .contacts__map {
    display: flex;
    width: 50%;
    margin-bottom: 0;
  }

  .contacts__image-map {
    &::after {
      top: calc(45% - 62px);
      left: calc(52% - 34px);
    }
  }

  .contacts__button {
    margin-top: -51px;
    margin-left: 175px;
  }
}
