.page-footer {
  background-color: $footer-color;
}

.page-footer__logo {
  display: none;
}

.page-footer__social-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 142px;
  min-height: 81px;
  list-style: none;
}

.page-footer__social-item {
  align-self: flex-start;
  margin-top: 30px;

  &:nth-child(2n) {
    margin-top: 25px;
  }

  &:not(:nth-child(3n)) {
    margin-right: 40px;
  }
}

.page-footer__social-link {
  fill: #221f1f;

  &:focus,
  &:hover {
    outline: none;
    fill: $tiffany-darker;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 27px;
  min-height: 81px;

  @include font-setting(19px, 18px, bold);

  border-top: 1px solid #e5e5e5;

  &:focus,
  &:hover {
    outline: none;
  }

  &:focus .page-footer__copyright-icon,
  &:hover .page-footer__copyright-icon {
    fill: $tiffany-darker;
  }

  &:active {
    color: $black-opacity-30;
  }

  &:active .page-footer__copyright-icon {
    opacity: 0.3;
  }
}

.page-footer__copyright-icon {
  margin-top: -6px;
  margin-left: 29px;
  fill: $tiffany;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    min-height: 143px;
  }

  .page-footer__logo {
    display: block;
    margin-right: 10%;
    width: 110px;
    fill: $black;

    &[href] {
      &:focus,
      &:hover {
        outline: none;
        fill: $tiffany-darker;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  .page-footer__social-list {
    margin: -46px 0 0;
  }

  .page-footer__social-item {
    margin-top: 58px;

    &:nth-child(2n) {
      margin-top: 53px;
    }
  }

  .page-footer__copyright {
    padding-top: 12px;
    justify-content: flex-end;
    width: 185px;
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__copyright {
    width: 215px;
  }
}
