.product {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product__img {
  display: flex;
  width: 100%;
  height: auto;
}

.product__wrapper {
  position: relative;
  padding: 0 28px 27px;
  border: 1px solid #ededed;
}

.product__title {
  margin: 26px 0 5px;

  @include font-setting(17px, 24px, bold);
}

.product__description {
  display: block;
  margin-bottom: 19px;

  @include font-setting(13px, 30px, normal, $gray-dark);
}

.product__price {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 20px;

  @include font-setting(15px, 24px, bold);

  border-top: 1px solid $gray-light;
}

.product__cart {
  fill: $gray;

  &:focus,
  &:hover {
    outline: none;
    fill: $tiffany;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;
    flex-flow: row wrap;
  }

  .product__link-image {
    width: 50%;
  }

  .product__wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 25px 25px;
    border: 1px solid #ededed;
  }

  .product__title {
    margin-top: 25px;

    @include font-setting(20px, 24px, bold);
  }

  .product__description {
    margin-bottom: 0;

    @include font-setting(15px, 30px, normal, $gray-dark);
  }

  .product__price {
    margin-top: auto;
    padding-top: 23px;
    padding-left: 4px;
    padding-right: 6px;

    @include font-setting(17px, 24px, bold);
  }
}

@media (min-width: $desktop-width) {
  .product {
    display: flex;
    flex-direction: column;
    width: 316px;
    min-height: 659px;
  }

  .product__link-image {
    width: 100%;

    &:focus {
      outline: none;
    }

    &:focus + .product__wrapper,
    &:hover + .product__wrapper {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active + .product__wrapper {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }

    &:focus ~ .product__wrapper .product__title,
    &:hover ~ .product__wrapper .product__title {
      color: $black-opacity-60;
    }

    &:active ~ .product__wrapper .product__title {
      color: $black-opacity-30;
    }
  }

  .product__wrapper {
    justify-content: space-between;
    width: 100%;
    min-height: 196px;
    padding: 0 25px 26px;
    border: 1px solid #ededed;

    &:focus,
    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .product__link-title {
    margin-top: 24px;

    &:focus {
      outline: none;
    }

    &:focus .product__title,
    &:hover .product__title {
      color: $black-opacity-60;
    }

    &:focus ~ .product__price .product__cart,
    &:hover ~ .product__price .product__cart {
      fill: $tiffany;
    }

    &:active .product__title {
      color: $black-opacity-30;
    }

    &:active ~ .product__price .product__cart {
      opacity: 0.3;
    }
  }

  .product__title {
    margin-top: 0;
    width: 255px;

    @include font-setting(20px, 24px, bold);
  }

  .product__description {
    margin-bottom: auto;

    @include font-setting(15px, 30px, normal, $gray-dark);
  }

  .product__price {
    margin-top: 0;
    padding-top: 21px;
    padding-left: 2px;

    @include font-setting(17px, 24px, bold);
  }
}
