.advantages {
  margin-bottom: 55px;
}

.advantages__wrapper {
  position: relative;
  padding: 42px 30px 0;

  &::before {
    content: url("../img/bg-zigzag-line.svg");
    position: absolute;
    top: 0;
    left: 0;
  }
}

.advantages__title {
  margin: 0 0 32px;
  @include font-setting(25px, 30px, bold);
  text-align: left;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  margin-bottom: 29px;
  padding-top: 54px;
  @include font-setting(17px, 20px, bold);
}

.advantages__item--icon-flower::after {
  content: url("../img/icon-feature-flower.svg");
  position: absolute;
  top: 0;
  left: 8px;
}

.advantages__item--icon-money::after {
  content: url("../img/icon-feature-money.svg");
  position: absolute;
  top: 1px;
  left: 0;
}

.advantages__item--icon-heart::after {
  content: url("../img/icon-feature-heart.svg");
  position: absolute;
  top: 6px;
  left: 7px;
}

.advantages__item--icon-ball::after {
  content: url("../img/icon-feature-ball.svg");
  position: absolute;
  top: 3px;
  left: 3px;
}

.advantages__item--icon-rocket::after {
  content: url("../img/icon-feature-rocket.svg");
  position: absolute;
  top: 4px;
  left: -5px;
}

.advantages__item--icon-gift::after {
  content: url("../img/icon-feature-gift.svg");
  position: absolute;
  top: 2px;
  left: 4px;
}
@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 26px;
  }

  .advantages__wrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 82px 50px 0;

    &::before {
      top: 0;
      left: 0;
    }
  }

  .advantages__title {
    margin: 0 0 49px -3px;
    width: 100%;
    @include font-setting(43px, 50px, bold);
  }

  .advantages__list {
    width: 50%;
  }

  .advantages__item {
    margin-bottom: 57px;
    padding-top: 54px;
    @include font-setting(20px, 22px, bold);
  }
}
@media (min-width: $desktop-width) {
  .advantages {
    margin-bottom: 32px;
  }

  .advantages__wrapper {
    padding: 82px 225px 0;
  }

  .advantages__title {
    margin: 0 0 49px -3px;
    width: 100%;
    @include font-setting(53px, 57px, bold);
  }

  .advantages__item {
    @include font-setting(20px, 22px, bold);
  }
}