.catalog {
  margin-bottom: 30px;
}

.catalog__wrapper {
  padding: 0 30px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 53px;
    padding-top: 83px;
  }

  .catalog__wrapper {
    padding: 0 50px;
  }

  .catalog__item:not(:last-child) {
    margin-bottom: 54px;
  }
}
@media (min-width: $desktop-width) {
  .catalog {
    margin-bottom: 56px;
    padding-top: 108px;
  }

  .catalog__list {
    display: flex;
    flex-flow: row wrap;
  }

  .catalog__item {
    margin-top: 30px;

    &:not(:nth-child(3n)) {
      margin-right: 50px;
    }
  }

  .catalog__item:not(:last-child) {
    margin-bottom: 0;
  }
}