.contacts {
  display: flex;
  flex-direction: column;
  padding: 35px 0 40px;
}

.contacts__info {
  padding: 0 30px;
}

.contacts__title {
  margin: 0 0 26px;
  @include font-setting(18px, 30px, bold);
}

.contacts__adress-wrapper,
.contacts__email-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
}

.contacts__email-wrapper {
  margin-bottom: 29px;
}

.contacts__adress-wrapper {
  margin-bottom: 37px;
}

.contacts__adress,
.contacts__adress-description,
.contacts__email,
.contacts__link {
  @include font-setting(15px, 30px, normal, $gray-dark);
}

.contacts__link {
  border-bottom: 1px solid $tiffany-light;
}

.contacts__adress,
.contacts__adress-description,
.contacts__email {
  margin: 0;
}

.contacts__adress-description {
  width: 182px;
}

.contacts__map {
  display: flex;
  margin-bottom: 38px;
}

.contacts__button {
  align-self: center;
  @include font-setting(18px, 20px, bold, $gray-dark);
}
@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    flex-direction: column;
    padding: 35px 0 40px;
  }

  .contacts__info {
    display: flex;
    flex-flow: row wrap;
    padding: 0 30px;
  }

  .contacts__title {
    width: 100%;
    margin: 0 0 26px;
    @include font-setting(18px, 30px, bold);
  }

  .contacts__adress-wrapper,
  .contacts__email-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: 50%;
  }

  .contacts__email-wrapper {
    margin-bottom: 29px;
  }

  .contacts__adress-wrapper {
    margin-bottom: 37px;
  }

  .contacts__adress,
  .contacts__adress-description,
  .contacts__email,
  .contacts__link {
    @include font-setting(15px, 30px, normal, $gray-dark);
  }

  .contacts__link {
    border-bottom: 1px solid $tiffany-light;
  }

  .contacts__adress,
  .contacts__adress-description,
  .contacts__email {
    margin: 0;
  }

  .contacts__adress-description {
    width: 182px;
  }

  .contacts__map {
    display: flex;
    width: 100%;
    background-color: $gray-dark;
    margin-bottom: 38px;
  }

  .contacts__button {
    align-self: center;
    min-width: 230px;
    @include font-setting(18px, 20px, bold, $gray-dark);
  }
}
@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    padding: 35px 0 40px;
  }

  .contacts__info {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    padding: 0 30px 100px;
  }

  .contacts__title {
    width: 100%;
    margin: 0 0 26px;
    @include font-setting(18px, 30px, bold);
  }

  .contacts__adress-wrapper,
  .contacts__email-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: 100%;
  }

  .contacts__email-wrapper {
    margin-bottom: 29px;
  }

  .contacts__adress-wrapper {
    margin-bottom: 37px;
  }

  .contacts__adress,
  .contacts__adress-description,
  .contacts__email,
  .contacts__link {
    @include font-setting(15px, 30px, normal, $gray-dark);
  }

  .contacts__link {
    border-bottom: 1px solid $tiffany-light;
  }

  .contacts__adress,
  .contacts__adress-description,
  .contacts__email {
    margin: 0;
  }

  .contacts__adress-description {
    width: 182px;
  }

  .contacts__map {
    display: flex;
    width: 50%;
    background-color: $gray-dark;
    margin-bottom: 38px;
  }

  .contacts__button {
    align-self: none;
    margin-top: -140px;
    margin-left: 200px;
    min-width: 230px;
    @include font-setting(18px, 20px, bold, $gray-dark);
  }
}