.feedback {
  margin-bottom: 33px;
}

.feedback__wrapper {
  position: relative;
  padding-bottom: 53px;

  &::before {
    display: none;
    content: url("../img/bg-zigzag-line.svg");
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.feedback__title {
  margin: 0 0 23px;
  @include font-setting(25px, 30px, bold);
}

.feedback__item {
  margin: 0 0 30px;
}

.feedback__text {
  margin: 0 0 25px;
  @include font-setting(15px, 30px, normal, $gray-dark);
}

.feedback__author-name {
  @include font-setting(17px, 30px, bold);
  font-style: normal;
}

.feedback__author-nickname {
  @include font-setting(17px, 30px, normal);
}

.feedback__button-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.feedback__button {
  position: relative;
  display: inline-flex;
  margin-bottom: 37px;
  padding: 0;
  width: 50%;
  min-height: 52px;
  border: 1px solid $gray-light;
  background-color: transparent;
  cursor: pointer;

  &:first-child {
    border-right: none;
  }

  &:focus,
  &:hover {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.feedback__button--prev::after {
  content: url("../img/icon-left-arrow.svg");
  position: absolute;
  top: 11px;
  right: calc(50% - 26px);
}

.feedback__button--next::after {
  content: url("../img/icon-right-arrow.svg");
  position: absolute;
  top: 11px;
  left: calc(50% - 26px);
}

.feedback__write {
  width: 100%;
  @include font-setting(18px, 20px, bold, $gray-dark);
}
@media (min-width: $tablet-width) {
  .feedback {
    margin-bottom: 25px;
  }

  .feedback__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-bottom: 124px;

    &::after {
      content: url("../img/review@1x.jpg");
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    &::before {
      bottom: 0;
      left: 0;
    }
  }

  .feedback__title {
    margin: 77px 0 50px;
    width: 100%;
    @include font-setting(43px, 50px, bold);
  }

  .feedback__item {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    width: 100%;
  }

  .feedback__text {
    margin: 0 0 55px;
    width: 100%;
    @include font-setting(17px, 30px, normal, $gray-dark);
  }

  .feedback__author-name {
    margin-bottom: 5px;
    width: 100%;
    @include font-setting(18px, 24px, bold);
  }

  .feedback__author-nickname {
    width: 100%;
    @include font-setting(17px, 30px, normal);
  }

  .feedback__button-wrapper {
    margin-top: -53px;
    min-width: 175px;
  }

  .feedback__button {
    order: 1;
    margin-bottom: 0;
    min-height: 45px;
    border: none;
  }

  .feedback__button--prev::after {
    top: 11px;
    right: 17px;
  }

  .feedback__button--next::after {
    top: 11px;
    left: 18px;
  }

  .feedback__write {
    position: absolute;
    top: 79px;
    right: 50px;
    width: 175px;
    @include font-setting(17px, 20px, bold, $gray-dark);
  }
}
@media (min-width: $desktop-width) {
  .feedback {
    margin-bottom: 25px;
  }

  .feedback__wrapper {
    padding-bottom: 186px;

    &::after {
      top: 1px;
      left: 50px;
    }
  }

  .feedback__title {
    margin: 71px 0 50px 171px;
    @include font-setting(53px, 57px, bold);
  }

  .feedback__item {
    margin-left: 175px;
  }

  .feedback__text {
    margin: 0 0 38px;
    width: 89.1%;
  }

  .feedback__author-name {
    margin-bottom: 4px;
    @include font-setting(17px, 24px, bold);
  }
}