@mixin breakpoint {
  margin: 0 auto;
  @media (min-width: $mobile-width) {
    width: 320px;
  }
  @media (min-width: $tablet-width) {
    width: 768px;
  }
  @media (min-width: $desktop-width) {
    width: 1150px;
  }
}
@mixin font-setting($size, $line-height, $font-width, $color: $black) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-width;
  color: $color;
}