@mixin breakpoint {
  margin: 0 auto;

  @media (min-width: $mobile-width) {
    padding: 0 30px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    max-width: 1150px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px;
  }
}

@mixin font-setting($size, $line-height, $font-width, $color: $black) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-width;
  color: $color;
}
