.page-caption {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
  min-height: 177px;
  background-color: $page-caption-color;

  &--index {
    min-height: 489px;
    background: $page-caption-color url("../img/hero-mobile@1x.jpg") no-repeat 50% -17px;
  }
}

.page-caption__wrapper {}

.page-caption__title {
  margin: 0;
  padding: 71px 0 0;
  @include font-setting(27px, 30px, bold);
  text-align: center;
}

.page-caption__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto 0;
  width: 320px;
}

.page-caption__button {
  position: relative;
  display: block;
  padding: 25px 50% 25px 30px;
  width: 100%;
  min-height: 103px;
  @include font-setting(19px, 24px, bold, $white);
  background-color: $tiffany;
  // overflow: hidden;
  &:focus,
  &:hover {
    outline: none;
    padding-top: 20px;
    background-color: $tiffany-lighter;
  }

  &:active {
    color: $white-opacity-30;
  }

  &--dark {
    background-color: $tiffany-dark;
  }

  &--dark:focus,
  &--dark:hover {
    background-color: $tiffany-darker;
  }

  &--icon-interior,
  &--icon-toy {
    position: relative;
  }

  &--icon-interior::after {
    content: url("../img/icon-interior.svg");
    position: absolute;
    top: 23px;
    right: 36px;
  }

  &--icon-toy::after {
    content: url("../img/icon-toy.svg");
    position: absolute;
    top: 23px;
    right: 27px;
  }

  &--icon-interior:focus::after,
  &--icon-interior:hover::after {
    top: 18px;
  }

  &--icon-toy:focus::after,
  &--icon-toy:hover::after {
    top: 18px;
  }
}
@media (min-width: $tablet-width) {
  .page-caption {
    margin-bottom: 57px;
    min-height: 215px;

    &--index {
      z-index: 1;
      min-height: 735px;
      background: $page-caption-color url("../img/hero-tablet@1x.jpg") no-repeat 50% 0;
    }

    &--index .page-caption__title {
      margin-top: 96px;
    }
  }

  .page-caption__wrapper {
    padding-top: 58px;
  }

  .page-caption__title {
    width: 100%;
    margin-top: 40px;
    padding: 0;
    @include font-setting(43px, 50px, bold);
  }

  .page-caption__button-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: $tablet-width;
    padding: 0 50px;
  }

  .page-caption__button {
    padding: 28px 25% 0 36px;
    width: 50%;
    min-height: 108px;
    @include font-setting(20px, 30px, bold, $white);

    &--icon-interior::after {
      top: 30px;
      right: 35px;
    }

    &--icon-toy::after {
      top: 32px;
      right: 33px;
    }
  }
}
@media (min-width: $desktop-width) {
  .page-caption {
    margin-bottom: 56px;
    min-height: 237px;

    &--index {
      min-height: 746px;
      background: $page-caption-color url("../img/hero-desktop@1x.jpg") no-repeat 50% 0;
    }
  }

  .page-caption__title {
    margin-top: 36px;
    @include font-setting(53px, 57px, bold);
  }

  .page-caption__button-wrapper {
    width: 1150px;
    margin-bottom: 19px;
    padding: 0 50px;
  }

  .page-caption__button {
    padding-right: 35%;
    min-height: 102px;
    @include font-setting(20px, 30px, bold, $white);

    &--icon-interior::after {
      top: 30px;
      right: 36px;
    }

    &--icon-toy::after {
      top: 32px;
      right: 35px;
    }
  }
}