.page-footer {
  background-color: $footer-color;
}

.page-footer__wrapper {
  padding: 0 30px;
}

.page-footer__logo {
  display: none;
}

.page-footer__social-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-height: 81px;
  border-bottom: 1px solid #e5e5e5;
  list-style: none;
}

.page-footer__social-item {
  margin: 25px;
}

.page-footer__social-link {
  &--instagram::after {
    content: url("../img/icon-insta.svg");
  }

  &--facebook::after {
    content: url("../img/icon-fb.svg");
  }

  &--twitter::after {
    content: url("../img/icon-twitter.svg");
  }
}

.page-footer__copyright {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 8px;
  min-height: 80px;
}

.page-footer__text {
  position: relative;
  padding-right: 57px;
  @include font-setting(19px, 18px, bold);

  &::after {
    content: url("../img/logo-htmlacademy.svg");
    position: absolute;
    top: -6px;
    right: 0;
  }
}