.page-header__nav {}

.page-header__logo-wrapper {
  display: flex;
  width: auto;
  padding: 23px 30px 17px;
}

.page-header__logo {
  padding-left: 33.1%;
}

.page-header__toggle {
  position: relative;
  margin-left: auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.page-header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header__nav-link {
  display: block;
  padding: 28px 30px 26px 76px;
  @include font-setting(17px, 24px, bold);
  border-top: 1px solid $header-menu-border;

  &:focus,
  &:hover {
    outline: none;
    color: $black-opacity-60;
  }

  &:active {
    color: $black-opacity-30;
  }
}

.page-header__user-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid $header-menu-border;
}

.page-header__user-link {
  display: block;
  padding: 28px 30px 26px 76px;
  @include font-setting(17px, 24px, bold);
  border-top: 1px solid $header-menu-border;

  &:focus,
  &:hover {
    outline: none;
    color: $black-opacity-60;
  }

  &:active {
    color: $black-opacity-30;
  }
}

.page-header__user-link--search {
  position: relative;

  &::after {
    position: absolute;
    top: 32px;
    left: 34px;
    content: url("../img/icon-search.svg");
  }
}

.page-header__user-link--cart {
  position: relative;

  &::after {
    position: absolute;
    top: 32px;
    left: 32px;
    content: url("../img/icon-cart.svg");
  }
}

.page-header__additional-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header__text {
  display: none;
  margin: 0;
  @include font-setting(15px, 24px, normal, $gray-dark);
}
@media (max-width: $mobile-width-only) {
  .page-header__nav--closed .page-header__nav-list {
    display: none;
  }

  .page-header__nav--closed .page-header__user-list {
    display: none;
  }

  .page-header__nav--closed .page-header__toggle {
    &::before {
      position: absolute;
      top: 8px;
      left: -9px;
      content: url("../img/icon-menu-open.svg");
    }
  }

  .page-header__nav--opened .page-header__nav-list {
    display: block;
  }

  .page-header__nav--opened .page-header__user-list {
    display: block;
  }

  .page-header__nav--opened .page-header__toggle {
    &::after {
      position: absolute;
      top: 7px;
      left: -9px;
      content: url("../img/icon-menu-close.svg");
    }
  }

  .page-header__nav--nojs .page-header__toggle {
    display: none;
  }
}
@media (min-width: $tablet-width) {
  .page-header {
    margin-bottom: -58px;
  }

  .page-header__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .page-header__logo-wrapper {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 48%;
    padding: 0 0 0 50px;
    border-bottom: 1px solid $header-menu-border;
  }

  .page-header__logo {
    height: 46px;
    padding: 0;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__nav-list {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 384px;
    padding-left: 50px;
    order: 1;
    background-color: transparent;
  }

  .page-header__nav-item:not(:nth-child(2n)) {
    margin-right: 35px;
  }

  .page-header__nav-link {
    padding: 16px 0;
    @include font-setting(15px, 24px, bold);
    border: none;
  }

  .page-header__user-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-basis: 52%;
    padding-right: 50px;
  }

  .page-header__user-link {
    padding: 32px 0 32px 76px;
    border-top: none;
  }

  .page-header__user-link--search {
    width: 84px;
    min-height: 88px;
    border-left: 1px solid $header-menu-border;
    border-right: 1px solid $header-menu-border;

    &::after {
      top: 36px;
      left: 32px;
    }
  }

  .page-header__link-text {
    display: none;
  }

  .page-header__user-link--cart {
    &::after {
      top: 34px;
      left: 24px;
    }
  }

  .page-header__text {
    display: block;
    order: 1;
    padding: 16px 50px 16px 0;
    @include font-setting(15px, 24px, normal, $gray-dark);
  }
}
@media (min-width: $desktop-width) {
  .page-header__logo-wrapper {
    justify-content: center;
    order: 1;
    padding: 0;
    flex-basis: 26.3%;
  }

  .page-header__logo {
    height: 72px;
  }

  .page-header__nav-list {
    flex-basis: 39%;
    order: 0;
    border-bottom: 1px solid $header-menu-border;
  }

  .page-header__nav-item:nth-child(2n) {
    padding-left: 35px;
    border-left: 1px solid $header-menu-border;
  }

  .page-header__nav-link {
    padding: 32px 0;
    @include font-setting(17px, 24px, bold);
  }

  .page-header__user-list {
    flex-basis: 34.7%;
    order: 1;
  }

  .page-header__additional-list {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 65.2%;
    order: 1;
    padding-left: 50px;
  }

  .page-header__additional-item {
    margin-right: 62px;
  }

  .page-header__additional-link {
    display: block;
    padding: 17px 0;
    @include font-setting(15px, 24px, bold);
  }
}