.special-offers {
  position: relative;
  margin-bottom: 35px;
  z-index: 1;
  background-color: $white;
}

.special-offers__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.special-offers__title {
  margin: 0 0 5px;
  @include font-setting(25px, 30px, bold);
}

.special-offers__subtitle {
  display: block;
  margin-bottom: 23px;
  @include font-setting(17px, 20px, bold, $tiffany);
  text-transform: uppercase;
}

.special-offers__text {
  margin: 0 0 16px;
  @include font-setting(15px, 24px, normal, $gray-dark);
}

.special-offers__details-table {
  margin-bottom: 27px;
  width: 100%;
  @include font-setting(15px, 24px, normal, $gray-dark);
  border-collapse: collapse;
}

.special-offers__description,
.special-offers__feature {
  padding: 8px 0;
  border-bottom: 1px solid $gray-light;

  &:not(:last-child) {
    padding-right: 14px;
  }
}

.special-offers__img {
  margin-bottom: 22px;
  width: 100%;
  height: auto;
}

.special-offers__price-wrapper {
  align-self: center;
}

.special-offers__price {
  display: block;
  padding-left: 67px;
  margin-bottom: 25px;
  @include font-setting(17px, 24px, bold, $gray-dark);
}

.special-offers__button {
  min-width: 260px;
}
@media (min-width: $tablet-width) {
  .special-offers {
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 45px;
    background-color: $white;

    &:after {
      content: "";
      position: absolute;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
      top: -12px;
      left: 0;
      width: 100%;
      height: 22px;
      display: block;
    }
  }

  .special-offers__wrapper {
    display: block;
  }

  .special-offers__title-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 49px;
    padding: 0;
    width: 100%;
  }

  .special-offers__title {
    margin: 0 0 0 -3px;
    @include font-setting(43px, 50px, bold);
  }

  .special-offers__subtitle {
    margin: 5px 22px 0 0;
    width: 80px;
    text-align: center;
    @include font-setting(17px, 17px, bold, $tiffany);
  }

  .special-offers__text-wrapper {
    float: left;
    margin-bottom: 28px;
    padding: 0;
    width: 43.56%;
  }

  .special-offers__text {
    margin: 0 0 34px;
    width: 100%;
    @include font-setting(17px, 30px, normal, $gray-dark);
  }

  .special-offers__details-table {
    width: 100%;
    @include font-setting(15px, 20px, normal, $gray-dark);
  }

  .special-offers__description,
  .special-offers__feature {
    padding: 10px 0;

    &:not(:last-child) {
      width: 33%;
      padding-right: 0;
    }
  }

  .special-offers__img {
    float: right;
    margin: 7px 0 0;
    width: 50%;
  }

  .special-offers__price-wrapper {
    float: left;
    margin-left: -2px;
    padding: 0;
  }

  .special-offers__price {
    padding-left: 73px;
    margin-bottom: 35px;
    @include font-setting(20px, 24px, bold, $gray-dark);
  }

  .special-offers__button {
    min-width: 292px;
  }
}
@media (min-width: $desktop-width) {
  .special-offers {
    margin-bottom: 73px;
    padding-top: 50px;

    &:after {
      display: none;
    }
  }

  .special-offers__title-wrapper {
    justify-content: flex-start;
    padding-top: 66px;

    &:after {
      content: "";
      position: absolute;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
      top: -73px;
      left: 0;
      width: 100%;
      height: 35px;
      display: block;
    }
  }

  .special-offers__title {
    order: 1;
    margin: 0;
    @include font-setting(53px, 57px, bold);
  }

  .special-offers__subtitle {
    margin: 9px 49px 0 43px;
  }

  .special-offers__text-wrapper {
    margin-left: 175px;
    margin-bottom: 81px;
    width: 28%;
  }

  .special-offers__text {
    margin: 0 0 46px;
  }

  .special-offers__description,
  .special-offers__feature {
    &:not(:last-child) {
      width: 34%;
    }
  }

  .special-offers__img {
    float: right;
    margin: -158px 0 0;
    height: auto;
  }

  .special-offers__price-wrapper {
    margin: 0 0 0 175px;
  }
}