$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$default-font: "Open Sans", "Tahoma", sans-serif;
$tiffany: #63d1bb;
$tiffany-light: #62d1ba;
$tiffany-dark: #56c3b2;
$black: rgba(0, 0, 0, 1);
$white: #ffffff;
$gray: #d3d2d2;
$gray-dark: #444444;
$gray-light: #ececec;
$gray-lighter: #f1f1f1;
$header-menu-border: $gray-light;
$button-text: $gray-dark;
$button-border: $gray-dark;
$page-caption-color: $gray-lighter;
$footer-color: $gray-lighter;